body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.container {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.container {
    margin: 20px;
}




.mission-statement,
.why-choose-us,
.get-started {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 20px auto;
    width: 80%; 
}

h3 {
    color: #333;
}

.why-choose-us ul {
    list-style-type: disc; 
    margin-left: 20px; 
}

.cta-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF; 
    color: white;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #0056b3; 
}



.course-list {
    margin: 20px auto;
    width: 80%;
}

.course-item {
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.course-item h3 {
    color: #007BFF;
    text-decoration: underline;
    font-weight: bold;
}

.course-item p {
    color: #333;
    font-size: 16px;
}

.course-item p strong {
    color: #FF4500;
}